* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(80, 80, 80);
}

.image-box {
  overflow: hidden;
}

.img-card{
    border: 1px solid white;
}

.zoom-img {
  cursor: zoom-in;
  transform: scale(2);
}
